html{
    
    font-family:Arial, Helvetica,  sans-serif;
	color:#777;
	font-size:12px;
	line-height:20px;
}
body{
	height:100%;
	padding:0;
	margin:0;
    text-align:center;
}
strong{
	font-weight:bold;
}
a{
	color:#046BCA;
	text-decoration: none;
}
a:hover{
	text-decoration:underline;
}
img{
	border:0;
}
ul{
	margin-left:30px;
}
li{
	list-style-image:url("../img/c-sep-l.gif");
	clear:both;
}
h1{
	color:#385F95;
	font-size:18px;
	font-weight:800;
	margin:7px 0;
}
#wrap{
	position:relative;
    width:1000px;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
}
#menu{
    position:relative;
	font-size:14px;
	margin:0;
	padding:0;
	width:1000px;
	background: url("../img/topbar.png") no-repeat;
	height:54px;
}
#menu .help{
	float:right;
    position:absolute;
    right:0;
    color:red;
    top:0;
}
#menu a{
	color:#FFFFFF;
	display:block;
	height:27px;
	padding-bottom:2px;

    zoom:1;
    *display:inline;
}
#menu span{
	display:block;
	height:27px;
	line-height:27px;
	top:0;
	text-align:center;
	margin-left:8px;
	padding-right:10px;
	padding-bottom:2px;
    
    zoom:1;
    *display:inline;
    
}
#menu li{
	display:inline-block;
	margin-left:20px;
	height:27px;
	position:relative;

    zoom:1;
    *display:inline;

}
#uname{
	position:absolute;
	right:15px;
	top:10px;
}
#content{
	padding:10px;
	padding-bottom:100px;
	clear:both;
	position:relative;
}
#left-column{
	width:700px;
}
#footer{
	border-top:1px solid #DCDCDC;
	padding-top:10px;
	text-align:center;
	clear:both;
	bottom:0;
	width:100%;
	height:60px;   /* Height of the footer */
}
.cforms{
	clear:both;
	padding:10px;
}
.cforms .noclear{
	clear:none;
}
.cforms span, .cforms input{
	float:left;
	margin:10px;
	width:150px;
	display:block;
}
.cforms p, .cforms h3{
	clear:both;
}
.hide{
	display:none;
}
.error {
	background: #C00000;
	color:#fff;
	padding:2px;
	background-image:"../flag-red.png";
	background-repeat:no-repeat;
	background-position:left;
}
.error2{
	background: #F3FF05;
	color:#000;
}
.gray {
	background: #f4f4f4;
}
#leftcol{
        width:200px;
        font-size:10px;
        float:left;
        height:450px;
        margin-top:20px;
        overflow-y:auto;
}
#leftcol ul{
        margin:0;
        padding:0;
}
#canvas{
        float:left;
        width: 700px;
        margin-left: 30px;
        height:500px;
}